@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #634ab0;
  --primary-hover: #4b319a;
  --secondary: #858bec;
  --heading: #0f193e;
  --paragraph: rgba(15, 25, 62, 0.8);
  --gradient-accent: linear-gradient(90deg, #858bec -29.62%, #7bd7ff 106.3%);
  /* Accent Colors */
  --accent-yellow: #faff00;
  --accent-purple: #cb0eb8;
  --font-general: "General Sans", sans-serif;
  --font-polySans: "PolySans", sans-serif;
}

@font-face {
  font-family: "PolySans";
  src: url("/fonts/polysanstrial-bulky.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-heading: var(--heading);
  --color-body: var(--paragraph);
  --color-gradient: var(--gradient-accent);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-purple: var(--accent-purple);
  --font-polySans: var(--font-polySans);
  --font-general: var(--font-general);
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  font-family: var(--font-polySans);
}

p {
  color: var(--paragraph);
  font-family: var(--font-general);
}

button {
  cursor: pointer;
}

@layer components {
  .custom_container {
    @apply max-w-[1440px] mx-auto px-[16px] sm:px-[24px] md:px-[48px] lg:px-[100px];
  }

  h1 {
    @apply text-[36px] leading-[44px] tracking-[0.54px] md:text-[45px] md:leading-[53px] md:tracking-[0.70px] lg:text-[50px] lg:leading-[58px] lg:tracking-[0.75px];
  }

  h2 {
    @apply text-[28px] leading-[36px] tracking-[0.42px] md:text-[38px] md:leading-[46px] md:tracking-[0.60px] lg:text-[44px] lg:leading-[52px] lg:tracking-[0.66px];
  }

  h3 {
    @apply text-[20px] leading-[28px] tracking-[0.42px] md:text-[32px] md:leading-[40px] md:tracking-[0.50px] lg:text-[38px] lg:leading-[46px] lg:tracking-[0.57px];
  }

  button {
    @apply font-[General Sans] font-medium text-[14px] leading-[22px];
  }
}